*{
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    color: rgb(235, 238, 238);
}
main{
background-color: #232323;
}
form{
    margin-top: 100px;
}
.contacto{
    background-color: #c02938;
    width: auto;
    height: 80px;
    border-radius: 15px;
}
.espacioLateralIzquierdo{
    margin-left: 100px;
}
.contenedorInfo{
    background-color: #c02938;
    width: auto;
    height: auto;
    border-radius: 15px;
}
.fullHeight {
    min-height: 100vh;
}
#eventos {
    height: 250px;
    overflow: scroll;
}
.marcas{
    height:200px;
    width: 250px;
}
#modelos{
    background: url('/proyectoFinal/imagenes/marca/modelos.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 350px;
    background-attachment: fixed;
    text-align: center;
  
   
   
}
.model{
    margin-top: 60px;
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: rgb(114, 2, 2) 6px 6px;
    text-transform: uppercase;
}
.fondo{
    background: url('/proyectoFinal/imagenes/marca/fondo.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
  
}
.sub{
    width: 500px;
    height: 2px;
}